// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Shrikhand|Open+Sans:400italic,700italic,400,700);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
// Font Variables
$shrikhand: "Shrikhand", serif;
$roboto: "Roboto", serif;

//Colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-text: black;

$color-shadow: rgb(110, 110, 110);
$color-background-search: #eaeaea;
$color-background-search-content: #f6f6f6;
$color-background-funct: #fff;

$color-btn: #fff;
$color-background-funct-btn: #f6f6f6;

$color-background-restaurants: #f6f6f6;
$color-background-restaurants--title: #fff;

$color-background-footer: #353535;
$color-footer: #fff;

@mixin computer {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}

//test
* {
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
body {
	font-family: $roboto;
	color: $color-text;
}

h1,
h5 {
	font-family: $shrikhand;
}
/*ICONS*/
.far.fa-heart.thin {
	font-weight: 100 !important;
}

main {
	@include computer {
		display: flex;
		flex-wrap: wrap;
	}
	section {
		@include computer {
			flex: 1 1 40%;
		}
	}
}
header {
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0px 0px 5px $color-shadow;
	position: relative;
	& > h1 {
		text-align: center;
	}

	div {
		a {
			position: absolute;
			top: 10px;
			left: 20px;
			font-size: 30px;
			color: $color-text;
			text-decoration: none;
		}
		h1 {
			text-align: center;
			width: 165px;
			margin: auto;
		}
	}
}

.search {
	text-align: center;
	background-color: $color-background-search;
	z-index: 5;
	&__location {
		padding: 5px;
		margin-left: 35px;
		input {
			padding: 10px;
			font-weight: bold;
			background-color: $color-background-search;
			font-size: initial;
		}
	}
	&__content {
		background-color: $color-background-search-content;
		padding-top: 30px;
		h2 {
			font-weight: bold;
			margin: 15px 20px 20px 15px;
		}
		p {
			font-weight: 300;
			margin: 0px 20px 20px 15px;
		}
		&--btn {
			margin: 15px;
			margin-bottom: 50px;
			padding: 10px;
			border-radius: 30px;
			width: 200px;
			height: 50px;
			background: linear-gradient($color-secondary, $color-primary);
			color: $color-btn;
			font-weight: bold;
			box-shadow: 2px 2px 5px lighten($color-shadow, 20%);
			cursor: pointer;
			&:hover {
				background: linear-gradient(
					lighten($color-secondary, 2%),
					lighten($color-primary, 2%)
				);
				box-shadow: 2px 2px 5px lighten($color-shadow, 0%);
			}
		}
	}
	@include computer {
		border-radius: 25px;
		margin-top: 5px;
	}
}
.funct {
	background-color: $color-background-funct;
	padding-bottom: 30px;
	cursor: pointer;

	h2 {
		margin-top: 40px;
		margin-left: 15px;
	}
	&__card {
		border-radius: 10px;
		min-height: 50px;
		margin: 20px;
		background-color: $color-background-funct-btn;
		line-height: 50px;
		box-shadow: 2px 2px 5px lighten($color-shadow, 40%);
		padding-top: 10px;
		padding-bottom: 10px;
		&:hover {
			background-color: lighten($color-background-funct-btn, 2%);
			box-shadow: 2px 2px 5px lighten($color-shadow, 20%);
		}
		a,
		a:visited {
			text-decoration: none;
			color: $color-text;
		}

		&--id {
			border-radius: 100%;
			width: 20px;
			height: 20px;
			line-height: 20px;
			right: 10px;
			position: relative;
			display: inline-block;
			text-align: center;
			background-color: $color-primary;
			color: $color-btn;
			font-size: small;
		}
		p {
			position: relative;
			display: inline-block;
			left: 40px;
			font-weight: 500;
			margin-right: 50px;
			i {
				position: relative;
				right: 30px;
				color: lighten($color-text, 50%);
			}
		}
	}
	@include computer {
		border-radius: 25px;
		background-color: $color-background-search;
		margin-left: 5px;
		margin-top: 5px;
	}
}

.restaurants {
	background-color: $color-background-restaurants;
	padding-top: 30px;
	padding-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	&-link {
		flex: 1 100%;
		text-decoration: none;
		color: $color-text;

		@include tablet {
			flex: 1 40%;
		}
		@include computer {
			flex: 1 0%;
		}
		&__card {
			margin: 15px;
			height: 250px;
			border-radius: 20px;
			background-color: $color-background-restaurants--title;
			box-shadow: 2px 2px 5px lighten($color-shadow, 20%);
			&--img {
				width: 100%;
				height: 175px;
				object-fit: cover;
				border-radius: 20px 20px 0px 0px;
			}
			&--descr {
				h3 {
					margin-top: 10px;
					margin-left: 10px;
				}
				p {
					margin-left: 10px;
				}

				div {
					i {
						position: relative;
						right: 35px;
						float: right;
						bottom: 40px;
						font-size: 30px;
					}

					& > .fas {
						/*heart full*/
						transform: scale(0);
						position: relative;
						right: 5px;
						transition: transform 0.3s ease-out;

						background: linear-gradient($color-primary, $color-secondary);
						-webkit-text-fill-color: transparent;
						-moz-text-fill-color: transparent;
						-ms-text-fill-color: transparent;
						-o-text-fill-color: transparent;
						background-clip: text;
						-webkit-background-clip: text;

						cursor: pointer;
					}
					& > .far {
						/*heart empty*/
						opacity: 1;
						transition: opacity 0.4s ease-out;

						cursor: pointer;
					}
					&:hover {
						& > .fas {
							transform: scale(1);
						}
						& > .far {
							opacity: 0;
						}
					}
				}
			}
		}

		&--new {
			background-color: $color-tertiary;
			color: darken($color-tertiary, 40%);

			text-align: center;
			padding: 5px 10px 5px 10px;

			position: relative;
			float: right;
			margin-right: 25px;
			bottom: 255px;
			visibility: hidden;
			&.active {
				visibility: visible;
			}
		}
	}

	h2 {
		margin: 15px;
		width: 100%;
	}
}

.menu {
	&-heading {
		position: relative;
		z-index: -1;
		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
			position: absolute;
		}
		@include computer {
			flex: 0 100%;
		}
	}
	&-content {
		padding-top: 20px;
		padding-bottom: 50px;
		border-radius: 20px 20px 0px 0px;
		position: relative;
		bottom: 20px;
		z-index: 2;
		background-color: $color-background-restaurants;
		top: 175px;
		margin-bottom: 175px;

		@include computer {
			display: flex;
			flex-wrap: wrap;
		}

		&--btn {
			padding: 15px;
			width: 250px;
			margin: auto;
			text-align: center;
			background: linear-gradient($color-secondary, $color-primary);
			border-radius: 30px;
			box-shadow: 2px 2px 5px lighten($color-shadow, 20%);
			color: $color-btn;
			cursor: pointer;
			&:hover {
				background: linear-gradient(
					lighten($color-secondary, 2%),
					lighten($color-primary, 2%)
				);
				box-shadow: 2px 2px 5px lighten($color-shadow, 0%);
			}
		}

		&-title {
			display: flex;
			justify-content: space-between;
			margin-right: 50px;
			margin-left: 20px;

			@include computer {
				flex: 0 100%;
			}

			h2 {
				font-family: $shrikhand;
				font-weight: normal;
			}
			div {
				i {
					font-size: 30px;
				}

				& > .fas {
					/*heart full*/
					transform: scale(0);
					position: relative;
					left: 34px;
					transition: transform 0.3s ease-out;

					background: linear-gradient($color-primary, $color-secondary);
					-webkit-text-fill-color: transparent;
					-moz-text-fill-color: transparent;
					-ms-text-fill-color: transparent;
					-o-text-fill-color: transparent;
					background-clip: text;
					-webkit-background-clip: text;

					cursor: pointer;
				}
				& > .far {
					/*heart empty*/
					opacity: 1;
					transition: opacity 0.4s ease-out;
					cursor: pointer;
				}
				&:hover {
					& > .fas {
						transform: scale(1);
					}
					& > .far {
						opacity: 0;
					}
				}
			}
		}
	}
}

.menu-content__card {
	margin-bottom: 50px;
	@include computer {
		flex: 1 30%;
	}
	h2 {
		text-transform: uppercase;
		margin-left: 20px;
		margin-top: 20px;
		&::after {
			border-bottom: solid 3px $color-tertiary;
			content: "";
			display: block;
			width: 60px;
		}
	}
	&-list {
		box-shadow: 2px 2px 5px lighten($color-shadow, 40%);
		border-radius: 15px;
		margin: 15px;
		position: relative;
		background-color: #fff;
		height: 80px;
		list-style-type: none;
		padding: 5px;
		overflow: hidden;

		@for $i from 1 through 4 {
			&.card_anim-#{$i} {
				transform-origin: bottom;
				animation: (0.4 * $i + 1s) anim_slideup;
			}
		}

		h3 {
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 10px;
		}
		p {
			display: flex;
			justify-content: space-between;
			margin: 10px;
		}
		&--product {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			flex: 1 90%;
		}
		&--price {
			font-weight: bold;
			margin-left: 5px;
		}
		&:hover {
			.menu-content__card-list--price {
				flex: 1;
				margin-right: 70px;
				transition: margin-right 0.4s;
			}
			.menu-content__card-list--check {
				display: block;

				transform: translateX(-100px);
				transition: transform 0.3s;
				i {
					animation: 0.4s anim_turn-check;
				}
			}
		}
		&--check {
			position: absolute;
			background: #99e2d0;
			border-radius: 0px 15px 15px 0px;
			width: 70px;
			height: 90px;
			transition: transform 0.5s;

			text-align: center;
			top: 0;
			right: -100px;
			display: block;

			i {
				line-height: 90px;
				color: $color-btn;
				font-size: 30px;
			}
		}
	}
}

footer {
	background-color: $color-background-footer;
	color: $color-footer;
	padding-left: 10px;
	h5 {
		padding-top: 20px;
		padding-bottom: 15px;
		font-size: 20px;
		font-weight: normal;
	}
	li {
		margin-top: 10px;
		list-style-type: none;
		&:last-child {
			padding-bottom: 50px;
		}
	}
	a {
		text-decoration: none;
		color: $color-btn;
	}
}
.loader {
	animation: anim_hide-loader 3s;

	opacity: 0;
	&__container {
		position: fixed;
		left: calc((50vw - 50%) * -1);
		top: calc((50vh - 50%) * -1);
		transform: translate(calc(50vw - 50%), calc(50vh - 50%));
	}

	z-index: -10;
	position: fixed;
	padding: 0;
	margin: 0;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);

	&__cont {
		background: linear-gradient(
			$color-primary,
			$color-secondary,
			$color-tertiary
		);

		width: 120px;
		height: 120px;
		border-radius: 100%;
		padding: 10px;
		animation: anim_loader 2s linear infinite;
		&--box {
			background: darken($color-primary, 20%);
			color: white;
			width: 120px;
			height: 120px;
			border-radius: 1000px;
		}
	}
	&__text {
		position: relative;
		color: white;
		z-index: 3;
		top: 85px;
		left: 15px;
		font-family: $shrikhand;
	}
}

@keyframes anim_loader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes anim_slideup {
	from {
		opacity: 0;
		transform: translateY(25px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes anim_turn-check {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes anim_hide-loader {
	from {
		opacity: 0;
		display: none;
		z-index: -10;
	}
	to {
		opacity: 1;
		display: fixed;
		z-index: 100;
	}
}
