@import url(https://fonts.googleapis.com/css?family=Shrikhand|Open+Sans:400italic,700italic,400,700);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
* {
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", serif;
  color: black;
}

h1,
h5 {
  font-family: "Shrikhand", serif;
}

/*ICONS*/
.far.fa-heart.thin {
  font-weight: 100 !important;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 5px #6e6e6e;
          box-shadow: 0px 0px 5px #6e6e6e;
  position: relative;
}

header > h1 {
  text-align: center;
}

header div a {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

header div h1 {
  text-align: center;
  width: 165px;
  margin: auto;
}

.search {
  text-align: center;
  background-color: #eaeaea;
  z-index: 5;
}

.search__location {
  padding: 5px;
  margin-left: 35px;
}

.search__location input {
  padding: 10px;
  font-weight: bold;
  background-color: #eaeaea;
}

.search__content {
  background-color: #f6f6f6;
  padding-top: 30px;
}

.search__content h2 {
  font-weight: bold;
  margin: 15px 20px 20px 15px;
}

.search__content p {
  font-weight: 300;
  margin: 0px 20px 20px 15px;
}

.search__content--btn {
  margin: 15px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px #a1a1a1;
          box-shadow: 2px 2px 5px #a1a1a1;
}

.funct {
  background-color: #fff;
  padding-bottom: 30px;
}

.funct h2 {
  margin-top: 40px;
  margin-left: 15px;
}

.funct__card {
  border-radius: 10px;
  min-height: 50px;
  margin: 20px;
  background-color: #f6f6f6;
  line-height: 50px;
  -webkit-box-shadow: 2px 2px 5px #d4d4d4;
          box-shadow: 2px 2px 5px #d4d4d4;
  padding-top: 10px;
  padding-bottom: 10px;
}

.funct__card a,
.funct__card a:visited {
  text-decoration: none;
  color: black;
}

.funct__card--id {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  right: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #9356dc;
  color: #fff;
  font-size: small;
}

.funct__card p {
  position: relative;
  display: inline-block;
  left: 40px;
  font-weight: 500;
  margin-right: 50px;
}

.funct__card p i {
  position: relative;
  right: 30px;
  color: gray;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurants-link {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  text-decoration: none;
  color: black;
}

.restaurants-link__card {
  margin: 15px;
  height: 250px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px #a1a1a1;
          box-shadow: 2px 2px 5px #a1a1a1;
}

.restaurants-link__card--img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.restaurants-link__card--descr h3 {
  margin-top: 10px;
  margin-left: 10px;
}

.restaurants-link__card--descr p {
  margin-left: 10px;
}

.restaurants-link__card--descr i {
  position: relative;
  right: 35px;
  float: right;
  bottom: 40px;
  font-size: 30px;
}

.restaurants-link__card--descr i:hover {
  color: red;
}

.restaurants-link--new {
  background-color: #99e2d0;
  color: #278870;
  text-align: center;
  padding: 5px 10px 5px 10px;
  position: relative;
  float: right;
  margin-right: 25px;
  bottom: 255px;
  visibility: hidden;
}

.restaurants-link--new.active {
  visibility: visible;
}

.restaurants h2 {
  margin: 15px;
  width: 100%;
}

.menu-heading {
  position: relative;
  z-index: -1;
}

.menu-heading img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.menu-content {
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  bottom: 20px;
  z-index: 2;
  background-color: #f6f6f6;
  top: 175px;
  margin-bottom: 175px;
}

.menu-content--btn {
  padding: 15px;
  width: 250px;
  margin: auto;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 5px #a1a1a1;
          box-shadow: 2px 2px 5px #a1a1a1;
  color: #fff;
  cursor: pointer;
}

.menu-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
  margin-left: 20px;
}

.menu-content-title h2 {
  font-family: "Shrikhand", serif;
  font-weight: normal;
}

.menu-content-title div i {
  font-size: 30px;
}

.menu-content-title div i.far {
  position: relative;
  left: 34px;
}

.menu-content-title div i.fas {
  -webkit-transform: scale(0);
          transform: scale(0);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transition: all ease-in-out 1000ms;
  transition: all ease-in-out 1000ms;
}

.menu-content-title div .far:active {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu-content-title div .far:active + .fas {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu-content__card {
  margin-bottom: 50px;
}

.menu-content__card h2 {
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 20px;
}

.menu-content__card h2::after {
  border-bottom: solid 3px #99e2d0;
  content: "";
  display: block;
  width: 60px;
}

.menu-content__card-list {
  -webkit-box-shadow: 2px 2px 5px #d4d4d4;
          box-shadow: 2px 2px 5px #d4d4d4;
  border-radius: 15px;
  margin: 15px;
  position: relative;
  background-color: #fff;
  height: 70px;
  list-style-type: none;
  padding: 5px;
}

.menu-content__card-list h3 {
  margin: 10px;
}

.menu-content__card-list p {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-content__card-list p .starters-list__card--price {
  margin-right: 20px;
}

.menu-content__card-list--check {
  position: absolute;
  background: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 60px;
  height: 70px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  text-align: center;
  top: 0;
  right: -100px;
  display: none;
}

.menu-content__card-list--check i {
  line-height: 70px;
}

footer {
  background-color: #353535;
  color: #fff;
  padding-left: 10px;
}

footer h5 {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
}

footer li {
  margin-top: 10px;
  list-style-type: none;
}

footer li:last-child {
  padding-bottom: 50px;
}

footer a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */